<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="App" class="com.vitrina.controller.App">
        <property name="service" ref="Service"></property>
    </bean>

    <bean id="Service" class="com.vitrina.service.IssueService">
        <property name="dao" ref="Dao"></property>
        <property name="jaxb" ref="Jaxb"></property>
    </bean>

    <bean id="Jaxb" class="com.vitrina.service.JaxbService"></bean>
    <bean id="Dao" factory-method="getIssueHibernateDao" class="com.vitrina.dao.FactoryDao"></bean> <!--<bean id="dao" factory-bean="hibernateDao"></bean>-->
    <!--<bean id="hibernateDao" class="com.vitrina.dao.issue.IssueHibernateDao"></bean>-->
    <!--<bean id="jpaDao" class="com.vitrina.dao.issue.IssueJPADao"></bean>-->
    <!--<bean id="dbcDao" class="com.vitrina.dao.issue.IssueJDBCDao"></bean>-->
</beans>