<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="App" class="com.vitrina.controller.VitrinaPredmainApp">
        <property name="service" ref="Service"></property>
    </bean>

    <bean id="Service" class="com.vitrina.service.DBService">
        <property name="dao" ref="JDBCDao"></property><!--<property name="dao" ref="HibernateDao"></property>-->
        <property name="jaxb" ref="Jaxb"></property>
    </bean>

    <bean id="Jaxb" class="com.vitrina.service.JaxbService"></bean>

    <bean id="JDBCDao" factory-method="getIssueJDBCDao" class="com.vitrina.dao.FactoryDao">
        <constructor-arg value="jdbc_oracle.properties"/><!--<constructor-arg value="jdbc_postgresql.properties"/>-->
    </bean>
    <bean id="HibernateDao" factory-method="getIssueHibernateDao" class="com.vitrina.dao.FactoryDao">
        <constructor-arg value="hibernate_oracle.cft.xml"/><!--<constructor-arg value="hibernate_mysql.cft.xml"/>-->
    </bean>
    <bean id="JPADao" factory-method="getIssueJPADao" class="com.vitrina.dao.FactoryDao">
        <constructor-arg value="OracleIssueJPA"/><!--<constructor-arg value="PostgreSQLIssueJPA"/>-->
    </bean>
    <bean id="SpringJDBCDao" factory-method="getIssueSpringDao" class="com.vitrina.dao.FactoryDao">
        <constructor-arg ref="PostgreSQLDataSource"/><!--<constructor-arg ref="OracleDataSource"/>-->
    </bean>
</beans>